@import "tailwindcss";

/* Spinner Loader */
.spinner {
  position: relative;
  width: 10px;
  height: 10px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #000000;
  animation: spinner-fzua35 1s infinite ease;
}

.spinner div:nth-child(1) {
  animation-delay: 0.1s;
  transform: rotate(36deg) translate(0, 150%);
}

.spinner div:nth-child(2) {
  animation-delay: 0.2s;
  transform: rotate(72deg) translate(0, 150%);
}

.spinner div:nth-child(3) {
  animation-delay: 0.3s;
  transform: rotate(108deg) translate(0, 150%);
}

.spinner div:nth-child(4) {
  animation-delay: 0.4s;
  transform: rotate(144deg) translate(0, 150%);
}

.spinner div:nth-child(5) {
  animation-delay: 0.5s;
  transform: rotate(180deg) translate(0, 150%);
}

.spinner div:nth-child(6) {
  animation-delay: 0.6s;
  transform: rotate(216deg) translate(0, 150%);
}

.spinner div:nth-child(7) {
  animation-delay: 0.7s;
  transform: rotate(252deg) translate(0, 150%);
}

.spinner div:nth-child(8) {
  animation-delay: 0.8s;
  transform: rotate(288deg) translate(0, 150%);
}

.spinner div:nth-child(9) {
  animation-delay: 0.9s;
  transform: rotate(324deg) translate(0, 150%);
}

.spinner div:nth-child(10) {
  animation-delay: 1s;
  transform: rotate(360deg) translate(0, 150%);
}

@keyframes spinner-fzua35 {
  0%, 10%, 20%, 30%, 40%, 60%, 70%, 80%, 90%, 100% {
    transform: rotate(var(--rotation)) translate(0, 150%);
  }
  50% {
    transform: rotate(var(--rotation)) translate(0, 225%);
  }
}

.spinner div:nth-child(1) { --rotation: 36deg; }
.spinner div:nth-child(2) { --rotation: 72deg; }
.spinner div:nth-child(3) { --rotation: 108deg; }
.spinner div:nth-child(4) { --rotation: 144deg; }
.spinner div:nth-child(5) { --rotation: 180deg; }
.spinner div:nth-child(6) { --rotation: 216deg; }
.spinner div:nth-child(7) { --rotation: 252deg; }
.spinner div:nth-child(8) { --rotation: 288deg; }
.spinner div:nth-child(9) { --rotation: 324deg; }
.spinner div:nth-child(10) { --rotation: 360deg; }